body {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    min-height: 100vh;
    margin: 0;
}

#grid-container {
    display: grid;
    position: relative; /* Needed for absolute positioning of objects */
    overflow-x: auto;
    white-space: nowrap;
}

.grid-row {
    display: flex;
}

.grid-cell {
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: inline-block;
}

#draggable-object {
    cursor: move;
    position: absolute; /* Important for positioning during drag */
}

.palette-object {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    cursor: grab;
}

#object-palette {
    display: flex;
}

.draggable-object.npc {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

.draggable-object.party {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}

/* must be 48px or smaller or it won't register to be "in the cell" */
.draggable-object.stationary {
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 50%;
}

#trash-area {
    width: 75px; /* Adjust as needed */
    height: 75px; /* Adjust as needed */
    border: 2px dashed red;
    background-color: #ffe0e0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #cc0000;
    font-weight: bold;
    text-align: center;
}

#trash-area.drag-over {
    background-color: #ffcccc; /* Highlight when dragging over */
    border-color: darkred;
}