#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 1px solid black;
    position: relative; /* Needed for absolute positioning of objects */
}

.grid-cell {
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.draggable-object {
    position: absolute;
    cursor: move;
}

.palette-object {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    cursor: grab;
}

#object-palette {
    display: flex;
}

#draggable-object.red_block {
    width: 100px;
    height: 100px;
    background-color: red;
}

#draggable-object.blue_circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#draggable-object.green_triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
}