{% extends "DeathWishBase.html" %}

{% block title %}Assets{% endblock %}

{% block content %}
<style>
    .container {
        display: flex;
        justify-content: center; /* Center horizontally */
        width: 80%; /* Adjust as needed */
        margin: 20px auto; /* Center the container itself */
    }
    .column {
        flex: 1; /* Equal width columns */
        padding: 10px;
        text-align: center; /* Center text within columns */
        border: 1px solid #ccc; /* Optional borders */
        margin: 5px;
    }
    h2 {
        text-align: center;
    }
</style>
<body>
    <h1>GM Assets</h1>
    <div class="container">
        <div class="column">
            <h3>Tangibles</h3>
            {% for item in assets.tangibleList %}
                <p>{{ item.name }}</p>
            {% endfor %}
        </div>
        <div class="column">
            <h3>Regions</h3>
            <a href="{{ url_for('EditRegion', index=0, isNew=1) }}">New Region</a>
            {% for i in range(0, assets.regionList|length) %}
                <p><a href="{{ url_for('EditRegion', index=i, isNew=0) }}">{{ assets.regionList[i].name }}</a></p>
            {% endfor %}
        </div>
        <div class="column">
            <h3>Landmarks</h3>
            <a href="{{ url_for('EditLandmark', index=0, isNew=1) }}">New Landmark</a>
            {% for i in range(0, assets.landmarkList|length) %}
                <p><a href="{{ url_for('EditLandmark', index=i, isNew=0) }}">{{ assets.landmarkList[i].name }}</a></p>
            {% endfor %}
        </div>
        <div class="column">
            <h3>NPCs</h3>
            <a href="{{ url_for('EditNPC', index=0, isNew=1) }}">New NPC</a>
            {% for i in range(0, assets.NPCList|length) %}
                <p><a href="{{ url_for('EditNPC', index=i, isNew=0) }}">{{ assets.NPCList[i].name }}</a></p>
            {% endfor %}
        </div>
        <div class="column">
            <h3>Encounters</h3>
            <a href="{{ url_for('EditEncounter', index=0, isNew=1) }}">New Encounter</a>
            {% for i in range(0, assets.encounterList|length) %}
                <p><a href="{{ url_for('EditEncounter', index=i, isNew=0) }}">{{ assets.encounterList[i].name }}</a></p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}