
{# For selecting single/multiple targets only #}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draggableMap.css') }}">
</head>
<body>
    <script>
        const mapObjects = {{ mapObjects|tojson }};
        const gridDataOriginString = {{ encounter.mapGridJSON|tojson }};
    </script>
    <div id="grid-container">
    {% for row in range(0, encounter.footingMap|length) %}
        <div class="grid-row">
            {% for col in range(0, encounter.footingMap[0]|length) %}
                <div class="grid-cell"
                    data-row="{{ row }}"
                    data-col="{{ col }}"
                    id="gridCell-{{ row }}-{{ col }}"
                    style="background-image: url('{{ footings[encounter.footingMap[row][col]].mapIconFile }}');">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/CompleteActionMap.js') }}"></script>
    <script>
        if (gridDataOriginString != "blank") {
            const gridDataOrigin = JSON.parse(gridDataOriginString);
            updateGridFromData(gridDataOrigin);
        }
    </script>
</body>
