<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parchment.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    // Connect to the Flask server
    const socket = io();
    // Listen for the 'game_event' we defined in Python
    socket.on('game_event', function(msg) {
        console.log("Received update:", msg.data);
        // Example action: Show an alert or update a div
        // alert("GM Update: " + msg.data);
        // You could also trigger a page reload if needed:
        window.location.reload();
    });
</script>

<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<br>
<br>
<br>
<br>
<footer>
    <p>&copy; 2024 Zach Perrizo</p>
</footer>