{% extends "DeathWishBase.html" %}

{% block title %}
    {% if action.name != "blank" %}
        {{ action.name }}
    {% else %}
        New Action
    {% endif %}
{% endblock %}

{% block content %}
<body>
    <form method="POST" id="save_action_form">
        <h3>Action Name</h3>
        <input type="hidden" name="action" value="save_action_form">
        <!-- autopopulate if action already exists -->
        {% if action.name == "blank" %}
            <label for="actionName">Action Name:</label>
            <input type="text" name="actionName" placeholder="action name">
            <br>
            <label for="movementRange">Movement Range:</label>
            <input type="text" name="movementRange" placeholder="movement range">
            <br>
            <input type="checkbox" name="targetSelf"> Targets Self
            <br>
            <label for="numTargets">Number of Targets:</label>
            <input type="text" name="numTargets" placeholder="1">
            <br>
            <label for="targetRange">Target Range:</label>
            <input type="text" name="targetRange" placeholder="1">
            <br>
            <label for="setupTime">Setup Time (by 100ms):</label>
            <input type="text" name="setupTime" placeholder="1">
            <br>
            <label for="cooldownTime">Cooldown Time (by 100ms):</label>
            <input type="text" name="cooldownTime" placeholder="1">
            <br>
            <label for="staminaCost">Stamina Cost:</label>
            <input type="text" name="staminaCost" placeholder="1">
            <br>
            <label for="manaCost">Mana Cost:</label>
            <input type="text" name="manaCost" placeholder="1">
            <br>
            <label for="negationAmount">Negation Amount:</label>
            <input type="text" name="negationAmount" placeholder="1">
            <br>
            <label for="interruptStrength">Interrupt Strength:</label>
            <input type="text" name="interruptStrength" placeholder="1">
            <br>
        {% else %}
            <label for="actionName">Action Name:</label>
            <input type="text" name="actionName" value="{{ action.name }}" placeholder="action name">
            <br>
            <label for="movementRange">Movement Range:</label>
            <input type="text" name="movementRange" value="{{ action.movementRange }}" placeholder="movement range">
            <br>
            {% if action.targetSelf %}
                <input type="checkbox" name="targetSelf" checked=true> Targets Self
            {% else %}
                <input type="checkbox" name="targetSelf"> Targets Self
            {% endif %}
            <br>
            <label for="numTargets">Number of Targets:</label>
            <input type="text" name="numTargets" value="{{ action.numTargets }}" placeholder="1">
            <br>
            <label for="targetRange">Target Range:</label>
            <input type="text" name="targetRange" value="{{ action.targetRange }}" placeholder="1">
            <br>
            <label for="setupTime">Setup Time (by 100ms):</label>
            <input type="text" name="setupTime" value="{{ action.setupTime }}" placeholder="1">
            <br>
            <label for="cooldownTime">Cooldown Time (by 100ms):</label>
            <input type="text" name="cooldownTime" value="{{ action.cooldownTime }}" placeholder="1">
            <br>
            <label for="staminaCost">Stamina Cost:</label>
            <input type="text" name="staminaCost" value="{{ action.staminaCost }}" placeholder="1">
            <br>
            <label for="manaCost">Mana Cost:</label>
            <input type="text" name="manaCost" value="{{ action.manaCost }}" placeholder="1">
            <br>
            <label for="negationAmount">Negation Amount:</label>
            <input type="text" name="negationAmount" value="{{ action.negationAmount }}" placeholder="1">
            <br>
            <label for="interruptStrength">Interrupt Strength:</label>
            <input type="text" name="interruptStrength" value="{{ action.interruptStrength }}" placeholder="1">
            <br>
            <h3>Effects</h3>
            {% for i in range(0, action.effectListIndexes|length) %}
                    <i>{{ effects[action.effectListIndexes[i]].name }}</i>
                    <button type="submit" name="delete_effect" value="{{ action.effectListIndexes[i] }}" form="save_action_form">delete</button>
                    <br>
            {% endfor %}
            <h4>Available Effects</h4>
            {% for i in range(0, effects|length) %}
                    <i>{{ effects[i].name }}</i>
                    <button type="submit" name="add_effect" value="{{ i }}" form="save_action_form">Add</button>
                    <br>
            {% endfor %}
        {% endif %}
    </form>
    <button type="submit" name="update_action" form="save_action_form">Save Action</button>
    <br>
    <br>
    <form method="POST" id="delete_action_form">
        <input type="hidden" name="action" value="delete_action_form">
        <button type="submit" name="delete_action">Delete Action</button>
    </form>
</body>
{% endblock %}