<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draggableMap.css') }}">
</head>
<body>
    <form method="POST" id="update_mapObjects_form">
        <input type="hidden" name="action" value="update_mapObjects_form">
        <input type="hidden" id="mapObjects" name="mapObjects">
    </form>

    <div id="object-palette">
        {% for objectName, object mapObjects.items() %}
            <div class="palette-object" data-name="{{ objectName }}" data-type="mapObject" draggable="true">{{ objectName }}</div>
        {% endfor %}
    </div>
    <div id="trash-area">
        Trash
    </div>
    <script>
        const mapObjects = {{ mapObjects|tojson }};
        const gridDataOriginString = {{ encounter.mapGridJSON|tojson }};
    </script>
    <div id="grid-container">
    {% for row in range(0, encounter.footingMap|length) %}
        <div class="grid-row">
            {% for col in range(0, encounter.footingMap[0]|length) %}
                <div class="grid-cell"
                    data-row="{{ row }}"
                    data-col="{{ col }}"
                    id="gridCell-{{ row }}-{{ col }}"
                    style="background-image: url('{{ footings[encounter.footingMap[row][col]].mapIconFile }}');">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <button type="submit" form="update_mapObjects_form">Update mapObjects</button>
    <script src="{{ url_for('static', filename='js/MapUtilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/EditEncounterMapObjects.js') }}"></script>
    <script>
        if (gridDataOriginString != "blank") {
            const gridDataOrigin = JSON.parse(gridDataOriginString);
            updateGridFromData(gridDataOrigin);
        }
    </script>
</body>
