{% extends "DeathWishBase.html" %}

{% block title %}
    {% if action.name != "blank" %}
        {{ action.name }}
    {% else %}
        New Action
    {% endif %}
{% endblock %}

{% block content %}
<body>
    <form method="POST" id="save_action_form">
        <h3>Action Name</h3>
        <input type="hidden" name="action" value="save_action_form">
        <!-- autopopulate if action already exists -->
        {% if action.name == "blank" %}
            <label for="actionName">Action Name:</label>
            <input type="text" name="actionName" placeholder="action name">
            <br>
            <label for="movementRange">Movement Range:</label>
            <input type="text" name="movementRange" placeholder="movement range">
            <br>
            <label for="setupTime">Setup Time (by 100ms):</label>
            <input type="text" name="setupTime" placeholder="1">
            <br>
            <label for="cooldownTime">Cooldown Time (by 100ms):</label>
            <input type="text" name="cooldownTime" placeholder="1">
            <br>
            <label for="staminaCost">Stamina Cost:</label>
            <input type="text" name="staminaCost" placeholder="1">
            <br>
            <label for="manaCost">Mana Cost:</label>
            <input type="text" name="manaCost" placeholder="1">
            <br>
        {% else %}
            <label for="actionName">Action Name:</label>
            <input type="text" name="actionName" value="{{ action.name }}" placeholder="action name">
            <br>
            <label for="movementRange">Movement Range:</label>
            <input type="text" name="movementRange" value="{{ action.movementRange }}" placeholder="movement range">
            <br>
            <label for="setupTime">Setup Time (by 100ms):</label>
            <input type="text" name="setupTime" value="{{ action.setupTime }}" placeholder="1">
            <br>
            <label for="cooldownTime">Cooldown Time (by 100ms):</label>
            <input type="text" name="cooldownTime" value="{{ action.cooldownTime }}" placeholder="1">
            <br>
            <label for="staminaCost">Stamina Cost:</label>
            <input type="text" name="staminaCost" value="{{ action.staminaCost }}" placeholder="1">
            <br>
            <label for="manaCost">Mana Cost:</label>
            <input type="text" name="manaCost" value="{{ action.manaCost }}" placeholder="1">
            <br>
            <h3>Activities</h3>
            {% for i in range(0, action.activityListNames|length) %}
                    <i>{{ action.activityListNames[i] }}</i>
                    <button type="submit" name="delete_effect" value="{{ action.activityListNames[i] }}" form="save_action_form">delete</button>
                    <br>
            {% endfor %}
            <h4>Available Activities</h4>
            {% for activityName, activity in activities.items() %}
                    <i>{{ activityName }}</i>
                    <button type="submit" name="add_activity" value="{{ activityName }}" form="save_action_form">Add</button>
                    <br>
            {% endfor %}
        {% endif %}
    </form>
    <button type="submit" name="update_action" form="save_action_form">Save Action</button>
    <br>
    <br>
    <form method="POST" id="delete_action_form">
        <input type="hidden" name="action" value="delete_action_form">
        <button type="submit" name="delete_action">Delete Action</button>
    </form>
</body>
{% endblock %}