{% extends "DeathWishBase.html" %}

{% block title %}
    {% if character.name != "blank" %}
        {{ character.name }}
    {% else %}
        New Character
    {% endif %}
{% endblock %}

{% block content %}
<body>
    <form method="POST" id="save_Character_form">
        <h3>Character Name</h3>
        <input type="hidden" name="action" value="save_Character_form">
        <!-- autopopulate if Character already exists -->
        {% if character.name == "blank" %}
            <label for="characterName">Character Name:</label>
            <input type="text" name="characterName" placeholder="Character name">
            <br>
            <label for="characterHealth">Character Health:</label>
            <input type="text" name="characterHealth" placeholder="10">
            <br>
            <label for="mapIconImgFile">Icon Filename:</label>
            <input type="text" name="mapIconImgFile" placeholder="mapIcon.jpg">
        {% else %}
            <label for="characterName">Character Name:</label>
            <input type="text" name="characterName" value="{{ character.name }}" placeholder="Character name">
            <br>
            <label for="characterHealth">Character Health:</label>
            <input type="text" name="characterHealth" value="{{ character.health }}" placeholder="10">
            <br>
            <label for="mapIconImgFile">Path to map icon image:</label>
            <input type="text" name="mapIconImgFile" value="{{ character.mapIconImgFile }}" placeholder="mapIcon.jpg">
            <h3>Actions</h3>
            {% for i in range(0, character.actionListIndexes|length) %}
                    <i>{{ actions[character.actionListIndexes[i]].name }}</i>
                    <button type="submit" name="delete_action" value="{{ character.actionListIndexes[i] }}" form="save_Character_form">delete</button>
                    <br>
            {% endfor %}
            <h4>Available Actions</h4>
            {% for i in range(0, actions|length) %}
                    <i>{{ actions[i].name }}</i>
                    <button type="submit" name="add_action" value="{{ i }}" form="save_Character_form">Add</button>
                    <br>
            {% endfor %}
        {% endif %}
    </form>
    <button type="submit" name="update_Character" form="save_Character_form">Save Character</button>
    <br>
    <br>
    <form method="POST" id="delete_Character_form">
        <input type="hidden" name="action" value="delete_Character_form">
        <button type="submit" name="delete_Character">Delete Character</button>
    </form>
</body>
{% endblock %}