{% extends "DeathWishBase.html" %}

{% block title %}
    {% if npc.name != "blank" %}
        {{ npc.name }}
    {% else %}
        New NPC
    {% endif %}
{% endblock %}

{% block content %}
<body>
    <form method="POST" id="save_NPC_form">
        <h3>NPC Name</h3>
        <input type="hidden" name="action" value="save_NPC_form">
        <!-- autopopulate if NPC already exists -->
        {% if npc.name == "blank" %}
            <label for="npcName">NPC Name:</label>
            <input type="text" name="npcName" placeholder="NPC name">
            <br>
            <label for="npcType">NPC Type:</label>
            <select id="npcType">
                <option value="Monster">Monster</option>
                <option value="Sentient">Sentient</option>
            </select>
            <br>
            <label for="npcHealth">NPC Health:</label>
            <input type="text" name="npcHealth" placeholder="10">
            <br>
            <label for="mapIconImgFile">Icon Filename:</label>
            <input type="text" name="mapIconImgFile" placeholder="mapIcon.jpg">
        {% else %}
            <label for="npcName">NPC Name:</label>
            <input type="text" name="npcName" value="{{ npc.name }}" placeholder="NPC name">
            <br>
            <label for="npcType">NPC Type:</label>
            <select id="npcType">
                <option value="Monster">Monster</option>
                <option value="Sentient">Sentient</option>
            </select>
            <br>
            <label for="npcHealth">NPC Health:</label>
            <input type="text" name="npcHealth" value="{{ npc.health }}" placeholder="10">
            <br>
            <label for="mapIconImgFile">Path to map icon image:</label>
            <input type="text" name="mapIconImgFile" value="{{ npc.mapIconImgFile }}" placeholder="mapIcon.jpg">
        {% endif %}
    </form>
    <button type="submit" form="save_NPC_form">Save NPC</button>
    <br>
    <br>
    <form method="POST" id="delete_NPC_form">
        <input type="hidden" name="action" value="delete_NPC_form">
        <button type="submit" name="delete_NPC">Delete NPC</button>
    </form>
</body>
{% endblock %}