{% extends "DeathWishBase.html" %}

{% block title %}
    {% if encounter.name != "blank" %}
        {{ encounter.name }}
    {% else %}
        New Encounter
    {% endif %}
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draggableMap.css') }}">
</head>
<body>
    <form method="POST" id="save_encounter_form">
        {% if encounter.name != "blank" %}
            <h2>{{ encounter.name }}</h2>
        {% else %}
            <h2>New Encounter</h2>
        {% endif %}
        <input type="hidden" name="action" value="save_encounter_form">
        {% if encounter.name == "blank" %}
            <input type="text" name="encounterName" placeholder="encounter name">
        {% else %}
            <input type="text" name="encounterName" value="{{ encounter.name }}" placeholder="encounter name">
        {% endif %}
        <input type="hidden" id="mapObjects" name="mapObjects">
    </form>

    <br>
    <br>
    <div id="object-palette">
        {% for i in range(0, npcList|length) %}
            <div class="palette-object" data-index="{{ i }}" data-type="npc" draggable="true">{{ npcList[i].name }}</div>
        {% endfor %}
    </div>
    <script>
        const objectPicURLs = {{ objectPicURLs|tojson }};
        const gridDataOriginString = {{ encounter.mapGrid|tojson }};
    </script>
    <div id="grid-container">
        {% for row in range(10) %}
        <div class="grid-row">
            {% for col in range(10) %}
            <div class="grid-cell" data-row="{{ row }}" data-col="{{ col }}"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/EditEncounter.js') }}"></script>
    {% if encounter.name != "blank" %}
        <script>
            const gridDataOrigin = JSON.parse(gridDataOriginString);
            updateGridFromData();
        </script>
    {% endif %}
    <button type="submit" form="save_encounter_form">Save Encounter</button>

    <br>
    <br>
    <form method="POST" id="delete_encounter_form">
        <input type="hidden" name="action" value="delete_encounter_form">
        <button type="submit" name="delete_encounter">Delete Encounter</button>
    </form>
</body>
{% endblock %}