<!DOCTYPE html>
<html>
{% extends "DeathWishBase.html" %}

{% block title %}
    {{ campaign.name }}
{% endblock %}

{% block content %}
<header>
    <h1>{{ campaign.name }}</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/campaign.css') }}">
</header>

<body>
    <script>
        const regions = {{ regions|tojson }};
        const campaign = {{ campaign|tojson }};
    </script>
    <div class="container">
        <div class="column">
            <h3>Region Select</h3>
            <label for="rows">Rows:</label>
            <input type="number" id="rows" name="rows" min="1" value={{ campaign.regionMapIndexes|length }} required><br>
            <label for="cols">Columns:</label>
            <input type="number" id="cols" name="cols" min="1" value={{ campaign.regionMapIndexes[0]|length }} required><br>
            <button type="button" onclick="createMap()">Reset Map</button>
            <form method="POST" id="update_region_form">
                <input type="hidden" name="action" value="update_region_form">
                <label for="regionSelect">Select Region:</label>
                <select id="regionSelect" onchange="updateSelectedRegionIndex()">
                    {% for i in range(0, regions|length) %}
                        <option value="{{ i }}">{{ regions[i].name }}</option>
                    {% endfor %}
                </select>
                <br>
                <div id="map"></div>
                <input type="hidden" name="regionData" id="regionData">
                <br>
                <script src="{{ url_for('static', filename='js/EditCampaign.js') }}"></script>
                <h3>Campaign Name</h3>
                    <input type="text" name="campaignName" value={{ campaign.name }} placeholder="campaign name">
                <script>
                    createMap();
                </script>
            </form>
            <button type="submit" form="update_region_form">Update Region Map</button>
        </div>
        <div class="column">
            <h3>Update Landmarks</h3>
            {% include 'EditCampaignLandmarks.html' with context %}
        </div>
    </div>

    <form method="POST" id="delete_campaign_form">
        <input type="hidden" name="action" value="delete_campaign_form">
    </form>
    <button type="submit" form="delete_campaign_form">Delete Campaign</button>
</body>
{% endblock %}
</html>