{% extends "DeathWishBase.html" %}

{% block title %}
    {% if activity.name != "blank" %}
        {{ activity.name }}
    {% else %}
        New Activity
    {% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/campaign.css') }}">
<body>
    <script>
        const activity = {{ activity|tojson }};
    </script>
    <form method="POST" id="save_activity_form">
        <h3>Activity Name</h3>
        <input type="hidden" name="activity" value="save_activity_form">
        <!-- autopopulate if activity already exists -->
        {% if activity.name == "blank" %}
            <label for="name">Activity Name:</label>
            <input type="text" name="name" placeholder="activity name">
            <br>
            <select name="type" id="type">
                <option value="singleTarget">single target</option>
                <option value="AOE">AOE</option>
                <option value="move">move</option>
            </select>
            <br>
            <label for="negationAmount">Negation Amount:</label>
            <input type="text" name="name" placeholder="vs interrupt strength to successfully block attack">
            <br>
            <label for="interruptStrength">Interrupt Strength:</label>
            <input type="text" name="name" placeholder="vs negation amount to successfully execute attack">
            <br>
        {% else %}
            <label for="name">Activity Name:</label>
            <input type="text" name="name" value="{{ activity.name }}" placeholder="activity name">
            <br>
            <script>console.log(activity.type);</script>
            <select name="type" id="type">
                <option value="singleTarget" 
                    {% if activity.type == 'singleTarget' %} 
                    selected 
                    {% endif %}>
                    single target
                </option>
                <option value="AOE" 
                    {% if activity.type == 'AOE' %} 
                    selected 
                    {% endif %}>
                    AOE
                </option>
                <option value="move" 
                    {% if activity.type == 'move' %} 
                    selected 
                    {% endif %}>
                    move
                </option>
            </select>
            <h3>Movement</h3>
            <label for="movementsGiven">Movements Given (of the designated shape):</label>
            <input type="text" name="movementsGiven" value="{{ activity.movementsGiven }}" placeholder="1">
            <h3>Non-Movement</h3>
            <label for="negationAmount">Negation Amount:</label>
            <input type="text" name="name" value="{{ activity.negationAmount }}" placeholder="vs interrupt strength to successfully block attack">
            <br>
            <label for="interruptStrength">Interrupt Strength:</label>
            <input type="text" name="name" value="{{ activity.interruptStrength }}" placeholder="vs negation amount to successfully execute attack">
            <br>
            {% for i in range(0, activity.effectNameList|length) %}
                    <i>{{ activity.effectNameList[i] }}</i>
                    <button type="submit" name="delete_effect" value="{{ activity.effectNameList[i] }}" form="save_activity_form">delete</button>
                    <br>
            {% endfor %}
            <h4>Available Effects</h4>
            {% for effectName in effects.keys() %}
                    <i>{{ effectName }}</i>
                    <button type="submit" name="add_effect" value="{{ effectName }}" form="save_activity_form">Add</button>
                    <br>
            {% endfor %}
        {% endif %}
        <h3> Edit Activity Shape </h3>
        <div id="map"></div>
        <input type="hidden" name="shapeData" id="shapeData">
        <br>
        <script src="{{ url_for('static', filename='js/EditActivityShape.js') }}"></script>
        <script>
            createMap();
        </script>
    </form>
    <button type="submit" name="update_activity" form="save_activity_form">Save Activity</button>
    <br>
    <br>
    <form method="POST" id="delete_activity_form">
        <input type="hidden" name="activity" value="delete_activity_form">
        <button type="submit" name="delete_activity">Delete Activity</button>
    </form>
</body>
{% endblock %}