<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draggableMap.css') }}">
</head>
<body>
    <form method="POST" id="update_landmarks_form">
        <input type="hidden" name="action" value="update_landmarks_form">
        <input type="hidden" id="landmarkObjects" name="landmarkObjects">
    </form>

    <div id="object-palette">
        {% for i in range(0, landmarks|length) %}
            <div class="palette-object" data-index="{{ i }}" data-type="stationary" draggable="true">{{ landmarks[i].name }}</div>
        {% endfor %}
    </div>
    <script>
        const landmarks = {{ landmarks|tojson }};
        const gridDataOriginString = {{ campaign.mapGrid|tojson }};
        const gridDataOrigin = JSON.parse(gridDataOriginString);
        console.log(gridDataOrigin);
        const curGridRows = campaign.regionMapIndexes.length;
        const curGridCols = campaign.regionMapIndexes[0].length;
        // console.log(curGridRows);
        // console.log(curGridCols);
    </script>
    <div id="grid-container">
    {% for row in range(0, campaign.regionMapIndexes|length) %}
        <div class="grid-row">
            {% for col in range(0, campaign.regionMapIndexes[0]|length) %}
                <div class="grid-cell"
                    data-row="{{ row }}"
                    data-col="{{ col }}"
                    id="gridCell-{{ row }}-{{ col }}"
                    style="background-image: url('{{ regions[campaign.regionMapIndexes[row][col]|int].worldMapIconFile }}');">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <button type="submit" form="update_landmarks_form">Update Landmarks</button>
    <script src="{{ url_for('static', filename='js/EditCampaignLandmarks.js') }}"></script>
    <script>
        if (gridDataOriginString != "blank") {
            updateGridFromData();
        }
    </script>
</body>
