{% extends "DeathWishBase.html" %}

{% block title %}
    {% if landmark.name != "blank" %}
        {{ landmark.name }}
    {% else %}
        New Landmark
    {% endif %}
{% endblock %}

{% block content %}
<body>
    <form method="POST" id="save_landmark_form">
        <input type="hidden" name="action" value="save_landmark_form">
        <!-- autopopulate if landmark already exists -->
        {% if landmark.name == "blank" %}
            <h1>Landmark Name</h1>
            <label for="landmarkName">Landmark Name:</label>
            <input type="text" name="landmarkName" placeholder="landmark name">
            <br>
            <label for="mapIconImgFile">Path to map icon image:</label>
            <input type="text" name="mapIconImgFile" placeholder="mapIcon.jpg">
        {% else %}
            <h1>{{ landmark.name }}</h1>
            <label for="landmarkName">Landmark Name:</label>
            <input type="text" name="landmarkName" value="{{ landmark.name }}" placeholder="landmark name">
            <br>
            <label for="mapIconImgFile">Path to map icon image:</label>
            <input type="text" name="mapIconImgFile" value="{{ landmark.mapIconImgFile }}" placeholder="mapIcon.jpg">
            <br>
            <h3>Encounters</h3>
            {% for i in range(0, landmark.encounterListNames|length) %}
                    <i>{{ landmark.encounterListNames[i] }}</i>
                    <button type="submit" name="delete_encounter" value="{{ landmark.encounterListNames[i] }}" form="save_landmark_form">delete</button>
                    <br>
            {% endfor %}
            <h4>Available Encounters</h4>
            {% for encounterName, encounter in encounters.items() %}
                    <i>{{ encounterName }}</i>
                    <button type="submit" name="add_encounter" value="{{ encounterName }}" form="save_landmark_form">Add</button>
                    <br>
            {% endfor %}
        {% endif %}
        <br>
        <input type="checkbox" name="isParty" value="unchecked"> Is Party?
        <br>
        <button type="submit" name="update_landmark" form="save_landmark_form">Save Landmark</button>
    </form>
    <br>
    <br>
    <form method="POST" id="delete_landmark_form">
        <input type="hidden" name="action" value="delete_landmark_form">
        <button type="submit" name="delete_landmark">Delete Landmark</button>
    </form>
</body>
{% endblock %}