{% extends "DeathWishBase.html" %}

{% block title %}
    {{ campaign.name }}
{% endblock %}

{% block content %}

<script>
    const campaign = {{ campaign|tojson }};
    const regions = {{ regions|tojson }};
    console.log(regions);
</script>

<header>
    <h1>{{ campaign.name }}</h1>
</header>

<div class="container">
    <div class="row flex">
        <div class="column grid-column">
            {% include 'EditCampaignLandmarks.html' with context %}
        </div>
        <div class="column">
            <h3>Available Encounters</h3>
            {% for i in range(0, campaign.availableEncounterIndexes|length) %}
                <a href="{{ url_for('RunEncounter', index=campaign.availableEncounterIndexes[i], startNew=1) }}"> {{ encounters[campaign.availableEncounterIndexes[i]].name }}</a>
                <br>
            {% endfor %}
        </div>
    <div class="row">
        <a href="{{ url_for('GameMaster') }}"> Exit Campaign View </a>
    </div>
</div>

{% endblock %}