{% extends "DeathWishBase.html" %}

{% block content %}

<script>
    const current_user_role = "{{ current_user_role }}";
    const character = {{ character|tojson }};
    const encounter = {{ encounter|tojson }};
    const footings = {{ footings|tojson }};
    const actions = {{ actions|tojson }};
    const mapObjectList = {{ mapObjectList|safe }};
    let actionActivities = null;
    let executorID = null;
    console.log(character);
    console.log(current_user_role);
</script>

{% include 'RunEncounterBase.html' with context %}

{% endblock %}