{% extends "DeathWishBase.html" %}

{% block content %}

<script>
    const encounter = {{ encounter|tojson }};
    const footings = {{ footings|tojson }};
    const actions = {{ actions|tojson }};
    const mapObjectList = {{ mapObjectList|safe }};
    // console.log(mapObjectList)
    // console.log(encounter.mapGridJSON)
    let actionActivities = null;
    let executorID = null;
</script>

<div class="container">
    <div class="column" style="width: 400px;">
        <h3>Turn Order</h3>
        {% for i in range(0, mapObjectList|length) %}
            <p> {{ mapObjectList[i][0] }}: Health: {{ mapObjectList[i][1].health }}, Stamina: {{ mapObjectList[i][1].stamina }}, Mana: {{ mapObjectList[i][1].mana }}</p>
        {% endfor %}
    </div>
    <div class="column grid-column">
        {% include 'CompleteActionMap.html' with context %}
    </div>
    <div class="column" style="width: 600px;">
        {% include 'ViewCharacterStats.html' with context %}
        <p> Actions Remaining: {{ character.actionCount }}</p>
        {% for i in range(0, character.actionListNames|length) %}
            <a href="{{ url_for('CompleteAction', mapObjectID=mapObjectList[0][2], actionListName=mapObjectList[0][1].actionListNames[i]) }}"> {{ mapObjectList[0][1].actionListNames[i] }}</a>
            <br>
        {% endfor %}
    </div>
</div>
<div class="row">
    <a href="{{ url_for('RunCampaign', name='current', startNew=0) }}"> End Encounter </a>
</div>

{% endblock %}