<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
</head>

<div class="column" style="width: 400px; gap: 2px;">
    <h3>Turn Order</h3>
    {% for i in range(0, mapObjectList|length) %}
        <div class="stat-wrapper-row">
            <h4> {{ mapObjectList[i][0] }}:  </h4>
            {% if current_user_role == "GM" %}
                <div class="stat-wrapper-mini">
                    <span class="bar-label-mini">Health</span>
                    <div class="bar-bg-mini">
                        <div id="hp-bar" class="bar-fill hp-color" style="width: {{ (mapObjectList[i][1].health / mapObjectList[i][1].maxHealth) * 100 }}%;"></div>
                        <div id="hp-text" class="bar-text-mini">{{ mapObjectList[i][1].health }} / {{ mapObjectList[i][1].maxHealth }}</div>
                    </div>
                </div>
                <div class="stat-wrapper-mini">
                    <span class="bar-label-mini">Stamina</span>
                    <div class="bar-bg-mini">
                        <div id="stamina-bar" class="bar-fill stamina-color" style="width: {{ (mapObjectList[i][1].stamina / mapObjectList[i][1].maxStamina) * 100 }}%;"></div>
                        <div id="stamina-text" class="bar-text-mini">{{ mapObjectList[i][1].stamina }} / {{ mapObjectList[i][1].maxStamina }}</div>
                    </div>
                </div>
                <div class="stat-wrapper-mini">
                    <span class="bar-label-mini">Mana</span>
                    <div class="bar-bg-mini">
                        <div id="mana-bar" class="bar-fill mana-color" style="width: {{ (mapObjectList[i][1].mana / mapObjectList[i][1].maxMana) * 100 }}%;"></div>
                        <div id="mana-text" class="bar-text-mini">{{ mapObjectList[i][1].mana }} / {{ mapObjectList[i][1].maxMana }}</div>
                    </div>
                </div>
            {% else %}
                <div class="stat-wrapper-mini">
                    <span class="bar-label-mini">Health</span>
                    <div class="bar-bg-mini">
                        <div id="hp-bar" class="bar-fill hp-color" style="width: {{ (mapObjectList[i][1].health / mapObjectList[i][1].maxHealth) * 100 }}%;"></div>
                    </div>
                </div>
                <div class="stat-wrapper-mini">
                    <span class="bar-label-mini">Stamina</span>
                    <div class="bar-bg-mini">
                        <div id="stamina-bar" class="bar-fill stamina-color" style="width: {{ (mapObjectList[i][1].stamina / mapObjectList[i][1].maxStamina) * 100 }}%;"></div>
                    </div>
                </div>
                <div class="stat-wrapper-mini">
                    <span class="bar-label-mini">Mana</span>
                    <div class="bar-bg-mini">
                        <div id="mana-bar" class="bar-fill mana-color" style="width: {{ (mapObjectList[i][1].mana / mapObjectList[i][1].maxMana) * 100 }}%;"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>